[%# Screen for the add new user confirmation. #%]

[% PROCESS header.html.tmpl version = version displaymenu = 1 
                            closehead = 1 subtitle = "New Account" %]

<p>
An email has been sent containing instructions on completing registration for
this new account.  Please follow the instructions in this email to complete
registration.
</p>

[% PROCESS trailer.html.tmpl %]

</body>
</html>
