[%# Screen for the create project form. #%]

[% PROCESS header.html.tmpl version = version %]

[%# Show the top-level links for "List projects" and "Search" #%]
<p>
    <a href="[% list_projects_url %]">Project list</a> | 
    <a href="[% search_url %]">Search</a> |
    <a href="[% doc_url %]/x319.html">Help</a>
</p>

[%# Display any "feedback" to the user if necessary. #%]
[% IF feedback != '' %]
    <font color="red">[% feedback %]</font>
[% END %]

<P>

<H1>Create new project</H1>

<P>

<FORM METHOD="POST" ENCTYPE="multipart/form-data">
<INPUT TYPE="hidden" NAME="action" VALUE="submit_project">

[%# The project name input field #%]
Project name:
<BR>
<INPUT TYPE="text" NAME="project_name" VALUE="[% project_name | html_entity %]" SIZE=70 MAXLENGTH=70>
<P>

[%# The project description input field #%]
Project description: 
<BR>
<TEXTAREA NAME="project_description" ROWS=6 COLS=70 WRAP="virtual">[%
project_description | html_entity %]</TEXTAREA>
<P>

<P>
<INPUT TYPE="submit" NAME=".submit" VALUE="Submit">

</FORM>

[% PROCESS trailer.html.tmpl %]

</BODY>
</HTML>
