[%# Screen for the create topic form. #%]

[% PROCESS header.html.tmpl version = version displaymenu = 1 help = "x386.html" %]

[%# Display any "feedback" to the user if necessary. #%]
[% IF feedback != '' %]
    <font color="red">[% feedback %]</font>
[% END %]

<P>

<H1>Create new topic</H1>

<P>

[%# Show any topics that this topic will obsolete #%]
[% IF obsoleted_topics.size > 0 %]
<font color="red"><strong>Topics to obsolete:</strong></font>
[% FOREACH topic = obsoleted_topics %]
<a href="[% topic.view_url %]">[% topic.title | html_entity %]</a>[% IF ! loop.last() %],[% END %]

[% END %]
<p>
[% END %]

<FORM METHOD="POST" ENCTYPE="multipart/form-data">
<INPUT TYPE="hidden" NAME="action" VALUE="submit_new_topic">
<INPUT TYPE="hidden" NAME="obsoletes" VALUE="[% obsoletes %]">

[%# The topic title input field #%]
Topic title:
<FONT SIZE="-2"><A HREF="javascript:alert('
The topic title should be a concise but informative\n
summary of the code change.  The title used in the\n
subject of sent emails, and in the topic list screen.
')">(?)</A></FONT>
<BR>
<INPUT TYPE="text" NAME="topic_title" VALUE="[% topic_title | html_entity %]" SIZE=70 MAXLENGTH=70>
<P>

[%# The topic description input field #%]
Topic description:
<FONT SIZE="-2"><A HREF="javascript:alert('
The topic description should contain enough information\n
for a reviewer to understand broadly what the code change\n
achieves. This information is sent with the new topic\n
notification email to all reviewers.
')">(?)</A></FONT>
<BR>
<TEXTAREA NAME="topic_description" ROWS=12 COLS=70 WRAP="hard">[% topic_description | html_entity %]</TEXTAREA>
<P>

<TABLE>
[% IF maximum_topic_size_lines != 0 || suggested_topic_size_lines != 0 %]
  <TR><TD COLSPAN="3">
  [% IF maximum_topic_size_lines != 0 %]
    <EM>Topics cannot be larger than [% maximum_topic_size_lines %] lines.</EM>
  [% END %]
  [% IF suggested_topic_size_lines != 0 %]
    <EM>The suggested topic size limit is [% suggested_topic_size_lines %] lines.</EM>
  [% END %]
  </TD></TR>
[% END %]
[%# The topic text upload button #%]
<TR>
 <TD>Topic text upload:
<FONT SIZE="-2"><A HREF="javascript:alert('
The uploaded file contains the actual text of the review.\n
\n
Typically, the text is the output of a command such as:\n
cvs diff -uN &gt; output.txt\n
or\n
svn diff -uN &gt; output.txt\n
or\n
diff -urN ../old-version/ . &gt; output.txt\n
\n
Non-unidiff files, or ordinary text files can be uploaded,\n
but will be treated simply as \'new files\'.\n\n

This should be left blank if you are reviewing files\n
directly from a repository.
')">(?)</A></FONT>
</TD>
 <TD COLSPAN="3"><INPUT TYPE="file" NAME="topic_file" VALUE="[% topic_file | html_entity %]" SIZE=40 MAXLENGTH=200></TD>
</TR>

[% IF allow_repositories != 0 %]
[%# The diff fetcher #%]
<TR>
 <TD>
Start tag:
<FONT SIZE="-2"><A HREF="javascript:alert('
Rather than uploading the topic text, if the repository\n
supports it, the text can be fetched by querying the\n
repository, given start and/or end tags, and a module name.\n
The start tag, end tag, and module fields are ignored if text\n
is uploaded.\n\n
If only one tag value is specified, the full contents of all\n
files in the specified module corresponding to the entered tag\n
will be downloaded.
')">(?)</A></FONT>
</TD>
<TD>
<INPUT TYPE="text" NAME="start_tag" VALUE="[% start_tag | html_entity %]" SIZE=20 MAXLENGTH=150>
</TD>
<TD>End tag: <FONT SIZE="-2"><A HREF="javascript:alert('
Rather than uploading the topic text, if the repository\n
supports it, the text can be fetched by querying the\n
repository, given start and/or end tags, and a module name.\n
The start tag, end tag, and module fields are ignored if text\n
is uploaded.\n\n
If only one tag value is specified, the full contents of all\n
files in the specified module corresponding to the entered tag\n
will be downloaded.
')">(?)</A></FONT></TD>
<TD>
<INPUT TYPE="text" NAME="end_tag" VALUE="[% end_tag  | html_entity %]" SIZE=20 MAXLENGTH=150>
</TD>
</TR>
<TR>
<TD>&nbsp;</TD><TD>&nbsp;</TD>
<TD>
Module:
<FONT SIZE="-2"><A HREF="javascript:alert('
This is the path to the file or module relative to the repository\n
root that should be inspected. It is ignored if text\n
is uploaded.
')">(?)</A></FONT>
</TD>
<TD>
<INPUT TYPE="text" NAME="module" VALUE="[% module | html_entity %]" SIZE=20 MAXLENGTH=150>
</TD>
</TR>
[% END %]

[%# The repository the review is made against #%]
[%# Only display the repository select if there is more than one #%]
[% IF repositories.size > 1 %]
[% IF allow_repositories != 0 %]
<TR>
 <TD>Repository:
<FONT SIZE="-2"><A HREF="javascript:alert('
The SCM system (eg CVS, Subversion, ClearCase)\n
which the topic text was prepared against.  If\n
this is correctly set, this provides the\n
ability to view the entire contents of a file\n
with and/or without a proposed change, which\n
an aid in the reviewing process.
')">(?)</A></FONT>
</TD>
 <TD COLSPAN="3"><SELECT NAME="repository">
       [% FOREACH entry = repositories %]
          [% IF entry == default_repository %]
	      <OPTION SELECTED VALUE="[% entry %]">[% entry %]</OPTION>
	  [% ELSE %]
	      <OPTION VALUE="[% entry %]">[% entry %]</OPTION>
	  [% END %]
       [% END %]
      </SELECT>
 </TD>
</TR>
[% END %]
[% END %]

[% IF projects_enabled != 0 %]

[%# The project the review belongs to #%]
<TR>
 <TD>Project:
<FONT SIZE="-2"><A HREF="javascript:alert('
Topics are associated with a specific project, which can be\n
used as filtering criteria in the search screen.
')">(?)</A></FONT>
</TD>
 <TD COLSPAN="3"><SELECT NAME="projectid">
       [% FOREACH project = projects %]
          [% IF project.id == default_projectid %]
	      <OPTION SELECTED VALUE="[% project.id %]">[% project.name | html_entity %]</OPTION>
	  [% ELSE %]
	      <OPTION VALUE="[% project.id %]">[% project.name | html_entity %]</OPTION>
	  [% END %]
       [% END %]
      </SELECT>
 </TD>
</TR>

[% END %]

[%# The bug ids input field #%]
[% IF bugdb_enabled != 0 %]
<TR>
 <TD>Bug IDs:
<FONT SIZE="-2"><A HREF="javascript:alert('
Indicates what bug identifiers are addressed by this code change.\n
These are space or comma separated identifiers, such as:\n
\n
1634\n
\n
or\n
\n
1534, 4625, 1243\n
\n
The appropriate links to the bug-tracking system will be made\n
when the topic is viewed, for the reviewer\'s reference.\n
\n
In addition, if integrating with Bugzilla, when the topic state\n
is changed, a comment will be inserted automatically to the\n
associated bugs for cross referencing.  When a bug is viewed,\n
it can be easily determined what code fixes have been applied\n
to it.
')">(?)</A></FONT>
</TD>
 <TD COLSPAN="3"><INPUT TYPE="text" NAME="bug_ids" VALUE="[% bug_ids | html_entity %]" SIZE=30 MAXLENGTH=50></TD>
</TR>
[% END %]

[%# The email input field #%]
<TR>
 <TD>Your email address:
<FONT SIZE="-2"><A HREF="javascript:alert('
This is your email address.  All comments made against a topic\n
will be sent to this address.  The new topic notification email\n
will also be sent to this address.
')">(?)</A></FONT>
</TD>
 <TD COLSPAN="3"><INPUT TYPE="text" NAME="email" VALUE="[% email | html_entity %]" SIZE=50 MAXLENGTH=80></TD>
</TR>

[%# The reviewers input field #%]
<TR>
 <TD>Reviewers:
<FONT SIZE="-2"><A HREF="javascript:alert('
This is a comma separated list of email addresses, which are the\n
people who need to review this code.  When the topic is created,\n
the new topic notification  email will be sent to these addresses.
')">(?)</A></FONT>
</TD>
 <TD COLSPAN="3"><INPUT TYPE="text" NAME="reviewers" VALUE="[% reviewers | html_entity %]" SIZE=50 MAXLENGTH=150></TD>
</TR>

[%# The Cc input field #%]
<TR>
 <TD>Cc: 
<FONT SIZE="-2"><A HREF="javascript:alert('
This is a comma separated list of email addresses, which are\n
not intended to be reviewers, but typically a mailing list\n
to notify a number of people about the creation of a new topic.
')">(?)</A></FONT>
</TD>
 <TD COLSPAN="3"><INPUT TYPE="text" NAME="cc" VALUE="[% cc | html_entity %]" SIZE=50 MAXLENGTH=150></TD>
</TR>
</TABLE>

<P>
<INPUT TYPE="submit" NAME=".submit" VALUE="Create Topic">

</FORM>

[% PROCESS trailer.html.tmpl %]

</BODY>
</HTML>
