[%# Display a list of comments #%]

[% USE AutomagicLinks %]

[% PROCESS header.html.tmpl version = version %]

<SCRIPT language="JavaScript">
<!-- This function handles the three filter select boxes at the top of the table.
function SelectFilter(post)
{
    var url = '';

    var userSelectionIndex = document.form.filter_comments_author.options.selectedIndex;    
    if (userSelectionIndex > 0)
    {
	var userSelection = document.form.filter_comments_author.options[userSelectionIndex].value;
    	url = url + '&sauthor=' + userSelection;
    }
        
    var stateIndex = document.form.filter_comments_state.options.selectedIndex;     
    if ( stateIndex > 0)
    {
    	url = url + '&sstate=' + (stateIndex-1);
    }
    
    var contextIndex = document.form.show_context_in_comments.options.selectedIndex;
    var contextSelection = document.form.show_context_in_comments.options[contextIndex].value;
    
    url = url + '&scontext=' + contextSelection;
    
    // The filtering url parameters have been build, now a "get" back to the web server
    // with the updated filter paramters, the ListComments.pm script will refilter then.
    if (post == 0)
    {
    	window.location='[% view_comments_url %]' + url;
    }
    else
    {
    	window.form.action = '[% view_comments_url %]' + url ;
        window.form.post();
    }
}

// This function checks all comment checkboxes.
function CheckAll()
{
    for (var i = 0; i < document.form.selected_comments.length; i++) {
        document.form.selected_comments[i].checked = true;
    }    
}

// This function unchecks all comment checkboxes.
function UnCheckAll()
{
    for (var i = 0; i < document.form.selected_comments.length; i++) {
        document.form.selected_comments[i].checked = false;
    }    
}

// -->
</SCRIPT>

[%# Show the top-level link for "Refresh" and "View topic" #%]
<P>
<A HREF="[% view_comments_url %]">View all updated comments</A> |
<A HREF="[% view_topic_url %]">View topic</A> |
<A HREF="[% doc_url %]/x503.html">Help</A>
<HR>
<P>

[%# Display any "feedback" to the user if necessary. #%]
[% IF feedback != '' %]
    <font color="red">[% feedback %]</font>
    <p>
[% END %]

<FORM METHOD="POST" ENCTYPE="multipart/form-data" name="form" onSubmit="SelectFilter(1)">
<INPUT TYPE="hidden" NAME="action" VALUE="change_comments">
<INPUT TYPE="hidden" NAME="topic" VALUE="[% topic %]">

<INPUT TYPE="hidden" NAME="scontext" VALUE="[% scontext %]">
<INPUT TYPE="hidden" NAME="sauthor" VALUE="[% sauthor %]">
<INPUT TYPE="hidden" NAME="sstate" VALUE="[% sstate %]">


<P><FONT size="5">Comments: &nbsp; &nbsp;</FONT>

Show comments authored by: &nbsp;
  <SELECT name="filter_comments_author" onChange="SelectFilter(0)">
     <OPTION value="1"> Everybody     
     [% FOREACH user = users %]
     <OPTION value="[% user %]" [% IF sauthor == user %] SELECTED [%END%] >[% user %]
     [% END %]
  </SELECT>
     
with: 
  <SELECT name="filter_comments_state" onChange="SelectFilter(0)">
     <OPTION value="Any" [%IF select_sstate == 0 %] SELECTED [%END%]> Any
     [% FOREACH state = states %]
     <OPTION value="[% state %]" [%IF loop.count() == select_sstate %] SELECTED [% END %]>[% state %]
     [% END %]
  </SELECT>
  
state and

  <SELECT name="show_context_in_comments" onChange="SelectFilter(0)">
     <OPTION value="0" [%IF scontext == 0 %] SELECTED [% END %]>no context
     <OPTION value="3" [%IF scontext == 3 %] SELECTED [% END %]>with context 3 lines
     <OPTION value="6" [%IF scontext == 6 %] SELECTED [% END %]>with context 6 lines
  </SELECT>
.

<TABLE CELLPADDING="1" CELLSPACING="3" BORDER="0" WIDTH="100%">

    <TR>
        <TD COLSPAN="3">
            <A HREF="javascript:CheckAll()">Check All</A> | <A HREF="javascript:UnCheckAll()">Clear All</A>
        </TD>
    </TR>
[% last_fileline = -1 %]
[% last_filenumber = -1 %]
[% FOREACH comment = comments %]
[% FLUSH IF loop.count() % 10 == 1 %]

    [% IF comment.fileline != last_fileline ||
          comment.filenumber != last_filenumber %]
    <TR CLASS="comments">
        <TD WIDTH="1%">
            <INPUT TYPE="checkbox" NAME="selected_comments" 
	           VALUE="[%comment.filenumber %],[% comment.fileline %],[% comment.filenew %],[% comment.version %]">
        </TD>
	<TD WIDTH="1%"><A NAME="[% comment.anchor %]">[% comment.state %]</A></TD>
        <TD>
	    [% IF comment.filename != '' %]
	       <A HREF="[% comment.view_file %]">[% comment.filename %]:[% comment.fileline %]</A> |
	       <A HREF="[% comment.view_parallel %]">Parallel</A> |
	       <A HREF="[% comment.edit_url %]">Add comment</A>
	    [% ELSE %]
	       Line: [% comment.line %] |
	        <A HREF="[% comment.edit_url %]">Add comment</A>
	    [% END %]
	</TD>
    </TR>
    [% IF comment.context != '' %]
    <TR CLASS="commentc">
        <TD>&nbsp;</TD><TD COLSPAN="2"><PRE>[% comment.context %]</PRE></TD>
    </TR>
    [% END %]
    [% last_fileline = comment.fileline %]
    [% last_filenumber = comment.filenumber %]

    [% END %]

    <TR CLASS="commenth">
        <TD CLASS="commentb">&nbsp;</TD>
        <TD COLSPAN="2">[% comment.author | html_entity %]&nbsp;[% comment.date | html_entity %]</TD>
    </TR>
    <TR CLASS="commentb">
        <TD>&nbsp;</TD><TD COLSPAN="2"><PRE>[% comment.data | html_entity | $AutomagicLinks %]</PRE></TD>
    </TR>

[% END %]

    <TR CLASS="comments"><TD COLSPAN="3">&nbsp;</TD></TR>

    <TR>
        <TD COLSPAN="3">
            <A HREF="javascript:CheckAll()">Check All</A> | <A HREF="javascript:UnCheckAll()">Clear All</A>
        </TD>
    </TR>

</TABLE>

<P>

Change state: &nbsp;
  <SELECT name="comment_state">
     [% FOREACH state = states %]
     <OPTION value="[% state %]">[% state %]
     [% END %]
  </SELECT>
  <INPUT TYPE="submit" NAME="button" VALUE="Update">

</FORM>

[% PROCESS trailer.html.tmpl %]

</body>
</html>

