[%# Screen for the edit project form. #%]

[% PROCESS header.html.tmpl version = version help = "x318.html" %]

[%# Display any "feedback" to the user if necessary. #%]
[% IF feedback != '' %]
    <font color="red">[% feedback %]</font>
[% END %]

<P>

<H1>Edit project</H1>

<P>

<FORM METHOD="POST" ENCTYPE="multipart/form-data">

<INPUT TYPE="hidden" name="projectid" value="[% project.id %]">
<INPUT TYPE="hidden" name="version" value="[% project.version %]">
<INPUT TYPE="hidden" NAME="action" VALUE="submit_editproject">

[%# The project name input field #%]
Project name:
<BR>
<INPUT TYPE="text" NAME="project_name" VALUE="[% project.name | html_entity %]" SIZE=70 MAXLENGTH=70>
<P>

[%# The project description input field #%]
Project description: 
<BR>
<TEXTAREA NAME="project_description" ROWS=6 COLS=70 WRAP="virtual">[%
project.description | html_entity %]</TEXTAREA>
<P>

<P>
<INPUT TYPE="submit" NAME=".submit" VALUE="Submit">

</FORM>

<a href="[% list_projects_url %]">Project list</a>


[% PROCESS trailer.html.tmpl %]

</BODY>
</HTML>
