[%# Screen for the create topic form. #%]

[% PROCESS header.html.tmpl version = version %]

<P>
<A HREF="[% view_topic_url %]">View topic</A> |
<A HREF="[% view_comments_url %]">View all comments</A> |
<A HREF="[% doc_url %]/x385.html#ADD-COMMENT">Help</A>
<HR>

<H2>[% topic_title | html_entity %]</H2>
<TABLE>
<TR>
 <TD>Author: </TD>
 <TD>[% author | html_entity %]</TD>
</TR>
<TR>
 <TD>Reviewers: </TD> 
 <TD>[% reviewers | html_entity %]</TD>
</TR>
[% IF cc != '' %]
<TR>
 <TD>Cc: </TD> 
 <TD>[% cc | html_entity %]</TD>
</TR>
[% END %]
</TABLE>

<P>
<HR>

<P>Context: (<A HREF="[% inc_context_url %]">increase</A> | <A HREF="[% dec_context_url %]">decrease)</A>
<P>

<PRE>[% context %]
</PRE>

<P>
<HR>
<P>

[% PROCESS listcomments.html.tmpl comments = comments %]
   
<P>
Enter new comment:
<P>

<FORM METHOD="POST"  ENCTYPE="application/x-www-form-urlencoded">
 <INPUT TYPE="hidden" NAME="action" VALUE="submit_comment">
 <INPUT TYPE="hidden" NAME="line" VALUE="[% line %]">
 <INPUT TYPE="hidden" NAME="topic" VALUE="[% topicid %]">
 <INPUT TYPE="hidden" NAME="mode" VALUE="[% mode %]">
 <INPUT TYPE="hidden" NAME="a" VALUE="[% anchor %]">
 <INPUT TYPE="hidden" NAME="fn" VALUE="[% fn %]">
 <INPUT TYPE="hidden" NAME="new" VALUE="[% new %]">
 <TEXTAREA NAME="comments" ROWS=15 COLS=75 WRAP="hard"></TEXTAREA>
 <P>

 <TABLE>
 <TR>
  <TD>Your email address: </TD>
  <TD><INPUT TYPE="text" NAME="email" VALUE="[% email | html_entity %]" SIZE=50 MAXLENGTH=100></TD>
 </TR>
 <TR>
  <TD>Cc: </TD>
  <TD><INPUT TYPE="text" NAME="comment_cc"  SIZE=50 MAXLENGTH=150></TD>
 </TR>
 </TABLE>

 <P>
 <INPUT TYPE="submit" NAME="submit" VALUE="Submit" ONCLICK="opener.focus()">
</FORM>

[% PROCESS trailer.html.tmpl %]

</BODY>
</HTML>

