[% IF closehead %]
</head>
<body onLoad="gotoAnchor(cs_load_anchor, cs_reload);">
[% END %]

[%# Header HTML code to appear on each screen, after <body> tag. #%]

<div id="header">
  <div class="heading">
    <a href="[% list_url | html_entity %]">[% main_title | html_entity %] - [% subtitle %]</a>
  </div>

  [% IF displaymenu != 0 %]
  <div class="menu">
    <a href="[% list_url | html_entity %]">List all open topics</a>
    [% IF list_open_topics_in_project_url != "" %]
    | <a href="[% list_open_topics_in_project_url | html_entity %]">List open topics in project</a>
    [% END %]
    | <a href="[% create_topic_url | html_entity %]">Create new topic</a>
    [% IF searchlist_enabled != 0 %] | <a href="[% search_url | html_entity %]">Search</a> [% END %]
    [% IF login_url != "" %] | <a href="[% login_url %]">Log In</a>[% END %]
    [% IF help != "" %] | <a href="[% doc_url | html_entity %]/[% help %]">Help</a>[% END %]
  </div>
  [% END %]
</div>

