[%# Header HTML code to appear on each screen, after <BODY> tag. #%]

<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
  <td class="heading"><center><a href="[% list_url %]"><font color="white">Codestriker [% version %]</font></a></center></td>
</tr>
</table>
