Content-type: text/plain

<?xml version="1.0" encoding="UTF-8"?>
<topics>
    [% FOREACH topic = alltopics %]
    <topic>
	<topicid>[% topic.topicid %]</topicid>
	<title>[% topic.title %]</title>
	<description>[% topic.description %]</description>
	<topic_state>[% topic.topic_state %]</topic_state>
	<topic_state_id>[% topic.topic_state_id %]</topic_state_id>
	<author>[% topic.author %]</author>
	<cc>[% topic.cc %]</cc>
	<reviewers>[% topic.reviewers %]</reviewers>
	<project_name>[% topic.project_name %]</project_name>
	<project_id>[% topic.project_id %]</project_id>
	[%# Make sure we remove any password from the end of the repository %]
	<repository>[% topic.repository.split( ';' ).0 %]</repository>
	<module>[% topic.module %]</module>
	<start_tag>[% topic.start_tag %]</start_tag>
	<end_tag>[% topic.end_tag %]</end_tag>
	<bug_ids>[% topic.bug_ids %]</bug_ids>
	<version>[% topic.version %]</version>
	<creation_ts>[% topic.creation_ts %]</creation_ts>
    </topic>
    [% END %]
</topics>
