[%# Screen for show a list of topics. #%]

[% PROCESS header.html.tmpl version = version %]

[%# Show the top-level links for "Create new topic" and "Search" #%]
<p>
    <a href="[% create_topic_url %]">Create new topic</a>
[% IF projects_enabled != 0 %]
    | <a href="[% list_projects_url %]">List projects</a>
[% END %]
    | <a href="[% search_url %]">Search</a>
    | <a href="[% doc_url %]/x281.html">Help</a>
</p>

[%# Display any "feedback" to the user if necessary. #%]
[% IF feedback != '' %]
    <font color="red">[% feedback %]</font>
    <p>
[% END %]

[%# Display the heading and create the table #%]
<h1>Topic list</h1>
<FORM METHOD="POST" ENCTYPE="multipart/form-data">
<INPUT TYPE="hidden" NAME="action" VALUE="change_topics">

[%# Store the search parameters as hidden variables #%]
<INPUT TYPE="hidden" NAME="sauthor" VALUE="[% sauthor %]">
<INPUT TYPE="hidden" NAME="sreviewer" VALUE="[% sreviewer %]">
<INPUT TYPE="hidden" NAME="scc" VALUE="[% scc %]">
<INPUT TYPE="hidden" NAME="sbugid" VALUE="[% sbugid %]">
<INPUT TYPE="hidden" NAME="stext" VALUE="[% stext %]">
<INPUT TYPE="hidden" NAME="sstate" VALUE="[% sstate %]">
<INPUT TYPE="hidden" NAME="stitle" VALUE="[% stitle %]">
<INPUT TYPE="hidden" NAME="sdescription" VALUE="[% sdescription %]">
<INPUT TYPE="hidden" NAME="scomments" VALUE="[% scomments %]">
<INPUT TYPE="hidden" NAME="sbody" VALUE="[% sbody %]">
<INPUT TYPE="hidden" NAME="sfilename" VALUE="[% sfilename %]">

<table width="100%">

    [%# Display the table header #%]
    <tr class="tlh">
        <th colspan="2">Title</th>
        <th>Author</th>
        <th>Reviewer</th>
        <th>Cc</th>
        <th>Created</th>
	[% IF bugdb_enabled != 0 %]
        <th>Bug IDs</th>
	[% END %]
        <th>State</th>
    </tr>

    [%# Display each topic row, alternating the background colour #%]
    [% FOREACH topic = topics %]
    [% FLUSH IF loop.count() % 10 == 1 %]

    <tr class="[% loop.count() % 2 == 0 ? 'tl1' : 'tl2' %]">
        <td><INPUT TYPE="checkbox" NAME="selected_topics" VALUE="[% topic.id %],[% topic.version %]"></td>
        <td><a href="[% topic.view_topic_url %]">[% topic.title %]</a></td>
        <td>[% topic.author %]</td>
        <td>[% topic.reviewer %]</td>
        <td>[% topic.cc %]</td>
        <td>[% topic.created %]</td>
	[% IF bugdb_enabled != 0 %]
        <td>[% topic.bugids %]</td>
	[% END %]
        <td>[% topic.state %]</td>
    </tr>

    [% END %]

    <tr class="tlh">
        <td colspan="8">&nbsp</td>
    </tr>
</table>

Change state: &nbsp;
  <select name="topic_state">
     [% FOREACH state = states %]
     [% IF state == default_state %]
     <option selected value="[% state %]">[% state %]
     [% ELSE %]
     <option value="[% state %]">[% state %]
     [% END %]
     [% END %]
  </select>
   <input type="submit" name="button" value="Update">

   <table width="100%">
    <tr class="tlh"><td>&nbsp</td></tr>
    </tr>
   </table>

</FORM>

[% PROCESS trailer.html.tmpl %]

</body>
</html>


