[%# Display a list of projects #%]

[% PROCESS header.html.tmpl version = version displaymenu = 1 
                            closehead = 1 subtitle="Project List" %]

[%# Display any "feedback" to the user if necessary. #%]
[% IF feedback != '' %]
    <span class="feedback">[% feedback %]</span>
[% END %]

<TABLE WIDTH="100%" CELLPADDING="2" CELLSPACING="2" BORDER="0">

[%# Display the table header #%]
<tr class="tlh">
  <th>Name</th>
  <th>Description</th>
  <th>State</th>
  <th># Open Topics</th>
  <th># Topics</th>
</tr>

[% FOREACH project = projects %]
[% FLUSH IF loop.count() % 10 == 1 %]

<TR CLASS="[% loop.count() % 2 == 0 ? 'tl1' : 'tl2' %]">
<TD>
<A HREF="[% project.edit_url %]">[% project.name | html_entity %]</A>
</TD>
<TD>[% project.description | html_entity %]</TD>
<TD>[% project.state | html_entity %]</TD>
<TD align="right"><a href="[% project.open_topic_list_url %]">[% project.num_open_topics %]</a></TD>
<TD align="right"><a href="[% project.topic_list_url %]">[% project.num_topics %]</a></TD>
</TR>
[% END %]

<tr class="tlh">
  <td colspan="5">&nbsp;</td>
</tr>
</TABLE>

<P>

<HR/>

<A HREF="[% create_project_url %]">Create new project</A>

[% PROCESS trailer.html.tmpl %]

</BODY>
</HTML>
