[%# Screen for show a list of topics. #%]

[% PROCESS header.html.tmpl version = version displaymenu = 1 help = "x335.html" %]

[%# Display any "feedback" to the user if necessary. #%]
[% IF feedback != '' %]
    <font color="red">[% feedback %]</font>
    <p>
[% END %]

[%# Display the heading and create the table #%]
<FORM METHOD="POST" ENCTYPE="multipart/form-data">
<INPUT TYPE="hidden" NAME="action" VALUE="change_topics_state">

[%# Store the search parameters as hidden variables #%]
<INPUT TYPE="hidden" NAME="sauthor" VALUE="[% sauthor | html_entity %]">
<INPUT TYPE="hidden" NAME="sreviewer" VALUE="[% sreviewer | html_entity %]">
<INPUT TYPE="hidden" NAME="scc" VALUE="[% scc | html_entity %]">
<INPUT TYPE="hidden" NAME="sbugid" VALUE="[% sbugid %]">
<INPUT TYPE="hidden" NAME="stext" VALUE="[% stext | html_entity %]">
<INPUT TYPE="hidden" NAME="sstate" VALUE="[% sstate %]">
<INPUT TYPE="hidden" NAME="stitle" VALUE="[% stitle | html_entity %]">
<INPUT TYPE="hidden" NAME="sdescription" VALUE="[% sdescription | html_entity %]">
<INPUT TYPE="hidden" NAME="scomments" VALUE="[% scomments | html_entity %]">
<INPUT TYPE="hidden" NAME="sbody" VALUE="[% sbody | html_entity %]">
<INPUT TYPE="hidden" NAME="sfilename" VALUE="[% sfilename | html_entity %]">

<H1>Topic list</H1>

<P>

<table width="100%">

    [%# Display the table header #%]
    <tr class="tlh">
        <th colspan="2"><a href="[% list_sort_url | uri | html_entity %]&topic_sort_change=title">Title</a></th>
        <th><a href="[% list_sort_url | uri | html_entity %]&topic_sort_change=author">Author</a></th>
        <th>Reviewer</th>
        <th>Cc</th>
        <th><a href="[% list_sort_url | uri | html_entity %]&topic_sort_change=created">Created</a></th>
        [% FOREACH commentmetric = commentmetrics %]
            <th>[% commentmetric.value | html_entity %]</th>
        [% END %]
	[% IF bugdb_enabled != 0 %]
        <th>Bug IDs</th>
	[% END %]
        <th><a href="[% list_sort_url | uri | html_entity %]&topic_sort_change=state">State</a></th>
    </tr>

    [%# Display each topic row, alternating the background colour #%]
    [% FOREACH topic = topics %]
    [% FLUSH IF loop.count() % 10 == 1 %]

    <tr class="[% loop.count() % 2 == 0 ? 'tl1' : 'tl2' %]">
        <td><INPUT TYPE="checkbox" NAME="selected_topics" VALUE="[% topic.id %],[% topic.version %]"></td>
        <td><a href="[% topic.view_topic_url | uri | html_entity %]">[% topic.title | html_entity %]</a></td>
        <td>[% topic.author | html_entity %]</td>
        <td>[% topic.reviewer | html_entity %]</td>
        <td>[% IF topic.cc == "" %]&nbsp;[% ELSE %][% topic.cc | html_entity %][% END %]</td>
        <td>[% topic.created | html_entity %]</td>
        [% FOREACH commentmetric = topic.commentmetrics %]
            <td>[% commentmetric.count | html_entity %]</td>
        [% END %]
	[% IF bugdb_enabled != 0 %]
        <td>[% IF topic.bugids == "" %]&nbsp;[% ELSE %][% topic.bugids %][% END %]</td>
	[% END %]
        <td>[% topic.state %]</td>
    </tr>

    [% END %]

    <tr class="tlh">
        <td colspan="8">&nbsp</td>
    </tr>
</table>

<table>
<tr>
<td>
Change state: &nbsp;
  <select name="topic_state">
     [% FOREACH state = states %]
     [% IF state == default_state %]
     <option selected value="[% state %]">[% state %]</option>
     [% ELSE %]
     <option value="[% state %]">[% state %]</option>
     [% END %]
     [% END %]
  </select>
</td>
<td>
   <input type="submit" name="button" value="Update">
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>
   <input type="submit" name="button" value="Obsolete Topic(s)">
</td>
</tr>
</table>

   <table width="100%">
    <tr class="tlh"><td>&nbsp</td></tr>
   </table>

</FORM>

<p>
[% IF projects_enabled != 0 %]
    <a href="[% list_projects_url | uri | html %]">Administer Projects</a> | 
[% END %]

    <a href="[% view_metrics_url | uri | html %]">Metrics Report</a>


</p>


[% PROCESS trailer.html.tmpl %]

</body>
</html>


