[%# Screen for login form. #%]

[% PROCESS header.html.tmpl version = version displaymenu = 1 
                            closehead = 1 subtitle = "Login" %]

[%# Display any "feedback" to the user if necessary. #%]
[% IF feedback != '' %]
    <span class="feedback">[% feedback %]</span>
[% END %]

<p>
Please enter your email address and password to continue. 
</p>

<form method="post" enctype="application/x-www-form-urlencoded" action="[% action_url %]">

<input type="hidden" name="action" value="authenticate" />
  <table>
    <tr>
      <th align="right">E-mail address:</th>
      <td>
        <input size="40" maxlength="80" name="email">
      </td>
    </tr>
    <tr>
      <th align="right">Password:</th>
      <td>
        <input type="password" size="40" name="password">
      </td>
    </tr>
    <tr>
      <th>&nbsp;</th><td>&nbsp;</td>
    </tr>
  </table>

  <input type="submit" name=".submit" value="Log in" />

</form>

<hr>

<p>
If you don't have a Codestriker account, you can <a href="[% new_user_url %]">create a new account</a>.
</p>

<hr>

<form method="post" enctype="application/x-www-form-urlencoded" action="[% reset_password_url %]">
  <input type="hidden" name="action" value="reset_password">
  <p>
    If you have an account, but have forgotten your password,
    enter your e-mail address below to generate a new password.
  </p>
  <input size="40" maxlength="80" name="email">
  <input type="submit" name=".submit2" value="Reset Password">
</form>

[% PROCESS trailer.html.tmpl %]

</body>
</html>
