[%# Screen for the metrics report. #%]

[% PROCESS header.html.tmpl version = version displaymenu = 1 
                            closehead = 1 help ="x689.html"  %]

<!-- "" -->

[%# Display any "feedback" to the user if necessary. #%]
[% IF feedback != '' %]
    <font color="red">[% feedback %]</font>
    <p>
[% END %]

<h3>User Metrics - Past 16 weeks</h3>


<table cellpadding="5%" >
    <tr class="tlh"><td></td>
	<td>last topic authored (days)</td>
	<td>last topic reviewed (days)</td>
	<td>total Codestriker time (hours)</td>
	<td colspan=4>number of topics participated</td>
    </tr>

    [% FOREACH user_metrics %]

    <tr class="[% loop.count() % 2 == 1 ? 'tl1' : 'tl2' %]">
	<td>[% name | html %]</td>
	<td>[% IF date_last_authored != '' %][% date_last_authored %][% ELSE %]&nbsp;[% END %]</td>
	<td>[% IF date_last_participated != '' %][% date_last_participated %][% ELSE %]&nbsp;[% END %]</td>
	<td>[% IF total_codestriker_time != '' %][% total_codestriker_time %][% ELSE %]&nbsp;[% END %]</td>
	<td>[% IF total_topics != '' %][% total_topics %][% ELSE %]&nbsp;[% END %]</td>
    </tr>

    [% END %]

</table>

<h3>Comment Metrics</h3>
<table cellpadding="5%">
    [%# Output the last 12 month headers #%]
    <tr class="tl2">
        <td>&nbsp;</td>
	[% FOREACH month = comment_metrics_month_names %]
	    <td>[% month %]</td>
	[% END %]
    </tr>

    [%# Now cycle through each comment metric type #%]
    [% FOREACH comment_metric = comment_metrics %]
    
        [%# Display the comment metric type as a header #%]    
	<tr class="tlh">
            <td colspan="13" align="center">[% comment_metric.name %]</td>
        </tr>

	[%# Now display each enumerated value for this comment type #%]
	[% FOREACH result = comment_metric.results %]
        <tr class="[% loop.count() % 2 == 1 ? 'tl1' : 'tl2' %]">
	    <td>[% result.name | html %]</td>

	    [% FOREACH count = result.counts %]
	        <td>[% count %]</td>
	    [% END %]
        </tr>
        [% END %]
    [% END %]

    [%# Output the last 12 month headers #%]
    <tr class="tl2">
        <td>&nbsp;</td>
	[% FOREACH month = comment_metrics_month_names %]
	    <td>[% month %]</td>
	[% END %]
    </tr>
</table>

<h3>Topic Metrics</h3>

<table cellpadding="5%">
    [%# Output the last 12 month headers #%]
    <tr class="tl2">
        <td>&nbsp;</td>
	[% FOREACH month = comment_metrics_month_names %]
	    <td>[% month %]</td>
	[% END %]
    </tr>

    <tr class="tlh"><td colspan="13" align="center"> Topic Metrics</td></tr>

    [% FOREACH topic_metrics %]

    <tr class="[% loop.count() % 2 == 1 ? 'tl1' : 'tl2' %]">
	<td>[% name | html %]</td>

	[% FOREACH scount = counts %]
	    <td>[% scount %]</td>
	[% END %]
    </tr>
    [% END %]

    <tr><td></td></tr>

    <tr class="tl2">
        <td></td>

	[% FOREACH month = comment_metrics_month_names %]
	    <td>[% month %]</td>
	[% END %]
    </tr>

</table>



<hr/>
<p><a href="[% download_url %]">Download all metric data as a tabbed delimited text file</a>


[% PROCESS trailer.html.tmpl %]

</body>
</html>


