[%# Screen for the new password form. #%]

[% PROCESS header.html.tmpl version = version displaymenu = 1 
                            closehead = 1 subtitle = "New Password" %]
<p>
Please enter your new password:
</p>

<form method="post" enctype="multipart/form-data" action="[% action_url %]">

<input type="hidden" name="action" value="update_password" />
<input type="hidden" name="email" value="[% email %]" />
<input type="hidden" name="challenge" value="[% challenge %]" />

  <table>
    <tr>
      <th align="right">New password:</th>
      <td>
        <input type="password" size="40" name="password">
      </td>
    </tr>
    <tr>
      <th>&nbsp;</th><td>&nbsp;</td>
    </tr>
  </table>

  <input type="submit" name=".submit" value="Submit New Password" />

</form>

[% PROCESS trailer.html.tmpl %]

</body>
</html>
