[%# Screen to show after the submision of a reset password request. #%]

[% PROCESS header.html.tmpl version = version displaymenu = 1 
                            closehead = 1 subtitle = "Reset Password" %]
<p>
An email containing instructions for changing your password has been sent
to you.  Follow the instructions in that email to change your password. 
</p>

[% PROCESS trailer.html.tmpl %]

</body>
</html>
