[%# Screen for search topics. #%]

[% PROCESS header.html.tmpl version = version %]

[%# Show the top-level links for "Create new topic" and "Help" #%]
<p>
    <a href="[% create_topic_url %]">Create new topic</a> |
    <a href="[% doc_url %]/x533.html">Help</a>
</p>

<H1>Topic search</H1>

<P>

<FORM METHOD="POST"  ENCTYPE="application/x-www-form-urlencoded">

<INPUT TYPE="hidden" NAME="action" VALUE="submit_search">

<TABLE>

[%# The author input field #%]
<TR>
 <TD>Author: </TD>
 <TD><INPUT TYPE="text" NAME="sauthor" SIZE=50 MAXLENGTH=100></TD>
</TR>

[%# The reviewer input field #%]
<TR>
 <TD>Reviewer: </TD>
 <TD><INPUT TYPE="text" NAME="sreviewer" SIZE=50 MAXLENGTH=100></TD>
</TR>

[%# The Cc input field #%]
<TR>
 <TD>Cc: </TD>
 <TD><INPUT TYPE="text" NAME="scc"  SIZE=50 MAXLENGTH=100></TD>
</TR>

[%# The Bug id input field #%]
[% IF bugdb_enabled != 0 %]
<TR>
 <TD>Bug ID: </TD>
 <TD><INPUT TYPE="text" NAME="sbugid"  SIZE=50 MAXLENGTH=100></TD>
</TR>
[% END %]

[%# The state multi-select #%]
<TR>
 <TD>State: </TD>
 <TD><SELECT NAME="state_group" SIZE=3 MULTIPLE>
       [% FOREACH state = states %]
           [% IF state == 'Open' %]
               <OPTION SELECTED VALUE="[% state %]">[% state %]
           [% ELSE %]           
               <OPTION VALUE="[% state %]">[% state %]
           [% END %]
       [% END %]
     </SELECT>
 </TD>
</TR>

[%# The project multi-select #%]
<TR>
 <TD>Project: </TD>
 <TD><SELECT NAME="project_group" SIZE=3 MULTIPLE>
       [% FOREACH project = projects %]
           [% IF project.name == 'Any' %]
               <OPTION SELECTED VALUE="[% project.id %]">[% project.name | html_entity %]
           [% ELSE %]           
               <OPTION VALUE="[% project.id %]">[% project.name | html_entity %]
           [% END %]
       [% END %]
     </SELECT>
 </TD>
</TR>

[%# The contains text input field and checkbox #%]
<TR>
 <TD>Contains text: </TD>
 <TD><INPUT TYPE="text" NAME="stext"  SIZE=50 MAXLENGTH=100></TD>
</TR>
<TR>
 <TD>&nbsp;</TD>
 <TD>in: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <INPUT TYPE="checkbox" NAME="text_group" VALUE="title" CHECKED>title
     <INPUT TYPE="checkbox" NAME="text_group" VALUE="description">description
     <INPUT TYPE="checkbox" NAME="text_group" VALUE="comment">comment
     <INPUT TYPE="checkbox" NAME="text_group" VALUE="body">body
     <INPUT TYPE="checkbox" NAME="text_group" VALUE="filename">filename
 </TD>
</TR>
</TABLE>

<INPUT TYPE="submit" NAME=".submit" VALUE="Submit">
<INPUT TYPE="hidden" NAME=".cgifields" VALUE="state_group">
<INPUT TYPE="hidden" NAME=".cgifields" VALUE="text_group">

</FORM>

[% PROCESS trailer.html.tmpl %]

</BODY>
</HTML>
