[%# Screen for search topics. #%]

[% PROCESS header.html.tmpl version = version displaymenu = 1 help = "x618.html" %]

<H1>Topic search</H1>

<P>

<FORM METHOD="POST"  ENCTYPE="application/x-www-form-urlencoded">

<INPUT TYPE="hidden" NAME="action" VALUE="submit_search">

<TABLE>

[%# The author input field #%]
<TR>
 <TD>Author: <FONT SIZE="-2"><A HREF="javascript:alert('
Constrain the search on topic author, which may be wildcarded\n
as joe* or joe*company*.
')">(?)</A></FONT></TD>
 <TD><INPUT TYPE="text" NAME="sauthor" SIZE=50 MAXLENGTH=100></TD>
</TR>

[%# The reviewer input field #%]
<TR>
 <TD>Reviewer: <FONT SIZE="-2"><A HREF="javascript:alert('
Constrain the search on topic reviewer, which may be wildcarded\n
as paul* or paul*company*.
')">(?)</A></FONT></TD>
 <TD><INPUT TYPE="text" NAME="sreviewer" SIZE=50 MAXLENGTH=100></TD>
</TR>

[%# The Cc input field #%]
<TR>
 <TD>Cc: <FONT SIZE="-2"><A HREF="javascript:alert('
Constrain the search on topic CC, which may be wildcarded\n
as group* or group*company*.
')">(?)</A></FONT></TD>
 <TD><INPUT TYPE="text" NAME="scc"  SIZE=50 MAXLENGTH=100></TD>
</TR>

[%# The Bug id input field #%]
[% IF bugdb_enabled != 0 %]
<TR>
 <TD>Bug ID: <FONT SIZE="-2"><A HREF="javascript:alert('
Constrain the search on the topic bugid.  This field\n
cannot be wildcarded.
')">(?)</A></FONT>
</TD>
 <TD><INPUT TYPE="text" NAME="sbugid"  SIZE=50 MAXLENGTH=100></TD>
</TR>
[% END %]

[%# The state multi-select #%]
<TR>
 <TD>State: <FONT SIZE="-2"><A HREF="javascript:alert('
Constrain the search on the topic\'s state.  Multiple\n
fields can be selected here by holding down the control\n
button while selecting.  State \'Any\' indicates the\n
returned topics can be in any state.
')">(?)</A></FONT></TD>
 <TD><SELECT NAME="state_group" SIZE=3 MULTIPLE>
       [% FOREACH state = states %]
           [% IF state == 'Open' %]
               <OPTION SELECTED VALUE="[% state %]">[% state %]</OPTION>
           [% ELSE %]           
               <OPTION VALUE="[% state %]">[% state %]</OPTION>
           [% END %]
       [% END %]
     </SELECT>
 </TD>
</TR>

[%# The project multi-select #%]
<TR>
 <TD>Project: <FONT SIZE="-2"><A HREF="javascript:alert('
Constrain the search on topic project membership.\n
Multiple fields can be selected here by holding down the\n
control button while selecting.  State \'Any\' indicates the\n
returned topics can in any project.
')">(?)</A></FONT></TD>
 <TD><SELECT NAME="project_group" SIZE=3 MULTIPLE>
       [% FOREACH project = projects %]
           [% IF project.name == 'Any' %]
               <OPTION SELECTED VALUE="[% project.id %]">[% project.name | html_entity %]</OPTION>
           [% ELSE %]           
               <OPTION VALUE="[% project.id %]">[% project.name | html_entity %]</OPTION>
           [% END %]
       [% END %]
     </SELECT>
 </TD>
</TR>

[%# The contains text input field and checkbox #%]
<TR>
 <TD>Contains text: <FONT SIZE="-2"><A HREF="javascript:alert('
Constrain the search on text contained in the title, description,\n
comment, body and filename topic attributes.  Text can be wildcarded.
')">(?)</A></FONT></TD>
 <TD><INPUT TYPE="text" NAME="stext"  SIZE=50 MAXLENGTH=100></TD>
</TR>
<TR>
 <TD>&nbsp;</TD>
 <TD>in: &nbsp;&nbsp;
     [% IF enable_title %]<INPUT TYPE="checkbox" NAME="text_group" VALUE="title" CHECKED>title&nbsp; [% END %]
     [% IF enable_description %]<INPUT TYPE="checkbox" NAME="text_group" VALUE="description">description&nbsp; [% END %]
     [% IF enable_comment %]<INPUT TYPE="checkbox" NAME="text_group" VALUE="comment">comment&nbsp; [% END %]
     [% IF enable_body %]<INPUT TYPE="checkbox" NAME="text_group" VALUE="body">body&nbsp; [% END %]
     [% IF enable_filename %]<INPUT TYPE="checkbox" NAME="text_group" VALUE="filename">filename[% END %]
 </TD>
</TR>
</TABLE>

<INPUT TYPE="submit" NAME=".submit" VALUE="Submit">
<INPUT TYPE="hidden" NAME=".cgifields" VALUE="state_group">
<INPUT TYPE="hidden" NAME=".cgifields" VALUE="text_group">

</FORM>

[% PROCESS trailer.html.tmpl %]

</BODY>
</HTML>
