[%# Screen for the submit topic confirmation screen. #%]

[% PROCESS header.html.tmpl version = version displaymenu = 1 
                            closehead = 1 help="" %]

[%# Display any "feedback" to the user if necessary. #%]
[% IF feedback != '' %]
    <span class="feedback">[% feedback %]</span>
    <p>
[% END %]

<H2>Topic created</H2>
Topic title: [% topic_title | html_entity %]<BR>
Author: [% email | html_entity %]<BR>
Topic URL: <A HREF="[% topic_url %]">[% topic_url %]</A>
<P>
Email has been sent to: [% email | html_entity %], [% reviewers | html_entity %][% IF cc != '' %], [% cc | html_entity %][% END %]

[% PROCESS trailer.html.tmpl %]

</BODY>
</HTML>
