[%# Screen for the submit comment confirmation screen. #%]

[% PROCESS header.html.tmpl version = version help="x332.html" %]

<H2>Comment submitted</H2>
<P>
<PRE>[% comment | html_entity %]
</PRE><P>

[%# Display a simple form for closing the comment popup window #%]
<FORM METHOD="POST"  ENCTYPE="application/x-www-form-urlencoded">
<INPUT TYPE="submit" NAME=".submit" VALUE="Close"
       ONCLICK="window.close()">
</FORM>

[% PROCESS trailer.html.tmpl %]

</BODY>
</HTML>
