[%# HTML for rendering a set of deltas. #%]

[% SET diff_current_filename = "" %]
[% FOREACH delta = deltas %]
[% FLUSH IF loop.count() % 10 == 1 %]
    [%# Check if a heading for the current diff needs to be output. #%]
    [% IF delta.filename != diff_current_filename %]

    [%# Close off the previous table from the previous filename. #%]
    [% IF loop.count() != 0 %]
    </table>
    [% END %]

    <table width="100%" cellspacing="0" cellpadding="0" border="0">

        [% PROCESS viewdeltaheader.html.tmpl delta = delta render_anchor = 1 %]

	[%# Output the diff description if it is present. #%]
	[% IF delta.description != "" %]
	<tr>
	  <td class="line" colspan="2">[% delta.description | html_entity %]</td>
	  <td class="line" colspan="2">[% delta.description | html_entity %]</td>
	</tr>
	[% END %]
    </table>
    
    [%# Make sure all the diffs are aligned in the same table. #%]
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    [% END %]

    [%# Now output the delta header if its not a new file. #%]
    [% SET diff_current_filename = delta.filename %]
      <tr>
	<td colspan="4">&nbsp;</td>
      </tr>
      <tr>
      [% IF !delta.new_file %]
        [% IF delta.view_old_full_url != "" %]
        [%# Display heading with links to retrieve the entire file #%]
        <td class="line" colspan="2">
	    Line [% delta.old_linenumber %]
	  |
	  <a href="javascript: myOpen('[% delta.view_old_full_both_url %]', 'Codestriker')">
	    Parallel
	  </a>
	</td>
        <td class="line" colspan="2">
	    Line [% delta.new_linenumber %]
	  |
	  <a href="javascript: myOpen('[% delta.view_new_full_both_url %]', 'Codestriker')">
	    Parallel
	  </a>
	</td>
        [% ELSIF !delta.binary %]
        [%# Just display the line numbers for the delta without any links. #%]
        <td class="line" colspan="2">Line [% delta.old_linenumber %]</td>
        <td class="line" colspan="2">Line [% delta.new_linenumber %]</td>
        [% END %]
      [% END %]
      </tr>
    
      [%# Now output the delta itself. #%]
      [% FOREACH line = delta.lines %]
      [% FLUSH IF loop.count() % 10 == 1 %]
      <tr>
	[% IF delta.new_file %]
	<td>[% line.new_data_line %]</td>
	<td class="[% delta.new_file_class %]" colspan="3"> [% line.new_data %]</td>
	[% ELSE %]
	<td>[% line.old_data_line %]</td>
	<td class="[% line.old_data_class %]"> [% line.old_data %]</td>
	<td>[% line.new_data_line %]</td>
	<td class="[% line.new_data_class %]"> [% line.new_data %]</td>
	[% END %]
      </tr>
      [% END %]
      <tr><td colspan="4">&nbsp;</td></tr>

[% END %]

[%# Close off the table from the last file's delta set. #%]
    </table>

[% IF render_header_in_footer %]
<table width="100%" cellspacing="0" cellpadding="0" border="0">
[% PROCESS viewdeltaheader.html.tmpl delta = delta render_anchor = 0 %]
</table>
[% END %]
