[%# Screen for displaying the metric information of a topic. #%]

[% USE AutomagicLinks %]

[% PROCESS viewtopicheader.html.tmpl version = version topicview = 0
   topicproperties = 0 topiccomments = 0 topicinfo = 1
   help = "x577.html" %]
 
[%# Create a form to allow the topic's metrics to be changed #%]
<form method="post" enctype="application/x-www-form-urlencoded" name="form">

<input type="hidden" name="action" value="edit_topic_metrics">
<input type="hidden" name="topic" value="[% topic %]">
<input type="hidden" name="mode" value="[% mode %]">
<input type="hidden" name="version" value="[% topic_version %]">

[%# Display the topic metrics #%]
<table cellpadding="2" cellspacing="2" border="0">
<tr class="tt1">
 <td>&nbsp;</td><td colspan="5"></td>
</tr>

<tr class="tt0">
 <td>Comments</td>
 
   [% FOREACH commentcounts %]
   <td>[% name %]</td> 
   [% END %]
 
   <td>All Types</td>
</tr>

<tr class="tt1">
  <td></td>
  [% FOREACH commentcounts %]
    <td>[% count %]</td> 
  [% END %]
  <td>[% number_comments %]</td>
</tr>

[% # Topic metrics sections %]
<tr class="tt1">
 <td>&nbsp;</td><td colspan="5"></td>
</tr>

<tr class="tt0">
    <td>Topic Info</td>
    <td>Lines</td>
	
[% FOREACH topic_metrics %]
    <td onmouseover="(window.status='[% description %]'); return true"
	onmouseout="(window.status=''); return true">[% name %]

    [% IF description != '' %]
    <A TABINDEX="1" HREF="javascript:alert('[% description %]')">?</A>
    [% END %]
    </td>
[% END %]
</tr>
<tr class="tt1">
    <td></td>
    <td>[% number_of_lines %]</td>

[% FOREACH topic_metrics %]
    [% IF enabled %]
    <td><input name="topic_metric" type="text" size="6" value="[% value %]"></td>
    [% ELSE %]
    <td>[% value %]</td>
    [% END %]
[% END %]

</tr>

[% type = 1 %]

<tr class="tt[% type mod 2 %]">
 [% type = type + 1 %]
 <td>&nbsp;</td><td colspan="5"></td>
</tr>

<tr class="tt[% type mod 2 %]">
 [% type = type + 1 %]
    
    <td>User</td>

    [% FOREACH author_metrics %]

    <td onmouseover="(window.status='[% description %]'); return true" 
	onmouseout="(window.status=''); return true">[% name %]
    [% IF description != '' %]
    <A TABINDEX="1" HREF="javascript:alert('[% description %]')">?</A>
    [% END %]
    </td>

    [% END %]
</tr>

<tr>
    <td>[% author %]</td>
    [% FOREACH author_metrics %]
    
    [% IF scope == 'author' || scope == 'participant' %]
	[% IF enabled %]
        <td><input name="author_metric" type="text" value="[% value %]" size="6"></td>
	[% ELSE %]
    	<td>[% value %]</td>
	[% END %]
    [% ELSE %]
    <td><input name="author_metric" type="hidden"></td>
    [% END %]

    [% END %]
</tr>

[% FOREACH reviewer_metrics %]
<tr>
    [% SET reviewerindex = loop.index() %]
    <td>[% reviewer %]</td>
    [% FOREACH metric=user_metrics %]
    
    [% IF metric.scope != 'author' %]
	[% IF metric.enabled != 0 %]
	<td><input name="reviewer_metric,[% reviewerindex %]" type="text" value="[% metric.value %]" size="6"></td>
	[% ELSE %]
	<td>[% metric.value %]</td>
	[% END %]
    [% ELSE %]
    <td><input name="reviewer_metric,[% reviewerindex %]" type="hidden"></td>
    [% END %]

    [% END %]
</tr>
[% END %]

<tr class="tt[% type mod 2 %]">
 [% type = type + 1 %]
    
    <td></td>

    [% FOREACH total_metrics %]

        <td>[% value %]</td>

    [% END %]
</tr>


</table>

<p>
[%# Render the submit button #%]
<input type="submit" name="button" value="Save" 
       onClick="return DeleteTopicConfirm();"> 

</form>

<HR>

Activity Log:

<table border="1">
    <tr><td>who</td><td>when</td><td>change</td></tr>

    [% FOREACH activity=activity_list %]
    <tr><td>[% activity.email | html_entity%]</td>
	<td>[% activity.date | html_entity%]</td>
	<td>[% activity.description | html_entity | $AutomagicLinks %]</td></tr>
    [% END %]

</table>



[% PROCESS trailer.html.tmpl %]

</BODY>
</HTML>


