[%# Screen for displaying the properties of a topic, such as the
    title, author, creation date, reviewers, Cc, number of lines,
    repository, project, description and state.  Most of these
    properties can be modified on this page.  #%]

[% PROCESS viewtopicheader.html.tmpl version = version topicview = 0
   topiccomments = 0 topicinfo = 0 topicproperties = 1 closehead = 1
   help = "x610.html" %]

<script type="text/javascript">
<!--
//
// This function will hit the user with a "are you sure" message box if they
//  ask to delete the topic. Otherwise, just let them change the state. It
//  is called when the submit button is pressed. 
//
function DeleteTopicConfirm()
{
    var stateIndex = document.form.topic_state.options.selectedIndex;
    var stateSelection = document.form.topic_state.options[stateIndex].value;
    
    // Confirm with the user if they are deleting.
    if (stateSelection == 'Deleted')
    {
    	return confirm('This topic and all of its comments will be ' +
                       'permanently removed. Are you sure you want ' +
                       'to delete this topic?');
    }
    
    return 1;
}
-->
</script>

[%# Create a form to allow the topic's properties to be changed #%]
<form method="post" enctype="application/x-www-form-urlencoded" name="form">

<input type="hidden" name="action" value="edit_topic_properties" />
<input type="hidden" name="topic" value="[% topicid %]" />
<input type="hidden" name="mode" value="[% mode %]" />
<input type="hidden" name="version" value="[% topic_version %]" />

[%# Create a table illustrating the title, author, creation date, bug
    ids, reviewers, number of lines and the current state, most of
    which can be edited. #%]


<p>
<table cellpadding="2" cellspacing="2" border="0">

<tr class="tt1">
  <td>Title:</td>
  <td>
    <input type="text" name="topic_title" 
           value="[% title | html_entity %]" size="70"
		[%# Check to see if the topic is open or not #%]
        [% IF topic_readonly != 0 %]
			readonly
		[% END %]
		    maxlength="70"/>
  </td>
</tr>

<tr class="tt1">
  <td>Author:</td>
  <td>
    <input type="text" name="author" value="[% author | html_entity %]" 
           size="50" maxlength="80"
           [%# Check to see if the topic is open or not #%]
	   [% IF antispam_email || topic_readonly != 0 %]readonly[% END %] />
  </td>
</tr>

<tr class="tt1">
  <td>Created:</td>
  <td>[% document_creation_time | html_entity %]</td>
</tr>

[% IF bug_db != '' %]
<tr class="tt1">
  <td>Bug IDs:</td>
  <td>
    <input type="text" name="bug_ids" value="[% bug_ids %]"
           size="30" maxlength="50" [% IF topic_readonly != 0 %]readonly[% END %] />
    Links:
    [% FOREACH bug = bug_id_array %]
        [% IF loop.count() != 1 %], [% END %]
        <a href="[% bugtracker %][% bug %]">Bug [% bug %]</a>
    [% END %]
  </td>
</tr>
[% END %]

<tr class="tt1">
  <td>Reviewers:</td>
  <td>
    <input type="text" name="reviewers" value="[% reviewers | html_entity %]"
           size="50" maxlength="150"
  	   [%# Check to see if the topic is open or not #%]
	   [% IF antispam_email || topic_readonly != 0 %]readonly[% END %] />
  </td>
</tr>

<tr class="tt1">
  <td>Cc:</td>
  <td>
    <input type="text" name="cc" value="[% cc | html_entity %]" 
           size="50" maxlength="150"
 	   [%# Check to see if the topic is open or not #%]
	   [% IF antispam_email || topic_readonly != 0 %]readonly[% END %] />
  </td>
</tr>

[% IF start_tag != '' %]
<tr class="tt1">
  <td>Start tag:</td>
  <td>[% start_tag | html_entity %]</td>
</tr>
[% END %]

[% IF end_tag != '' %]
<tr class="tt1">
  <td>End tag:</td>
  <td>[% end_tag | html_entity %]</td>
</tr>
[% END %]

[% IF module != '' %]
<tr class="tt1">
  <td>Module:</td>
  <td>[% module | html_entity %]</td>
</tr>
[% END %]

[% IF topic_repository != '' %]
<tr class="tt1">
  <td>Repository:</td>
  <td>
       [% FOREACH entry = repositories %]
          [% IF entry == topic_repository %]
		<input type="hidden" name="repository" value="[% topic_repository %]" readonly />
		[% entry | html_entity %]
	  [% END %]
       [% END %]
  </td>
</tr>

[% END %]

[% IF projects_enabled != 0 %]
<tr class="tt1">
  <td>Project:</td>
  <td>
    [%# Check to see if the project is open or not #%]
    [% IF topic_readonly == 0 %]
      <select name="projectid">
       [% FOREACH project = projects %]
          [% IF project.id == topic_projectid %]
	      <option selected value="[% project.id %]">[% project.name | html_entity %]</OPTION>
	  [% ELSE %]
	    [%# Only display additional Projects that are open #%]
	    [% IF project.state == project_states.0 %]
	      <option value="[% project.id %]">[% project.name | html_entity %]</OPTION>
	    [% END %]
	  [% END %]
       [% END %]
      </select>
    [% ELSE %]
	[% FOREACH project = projects %]
	    [% IF project.id == topic_projectid %]
		<input type="hidden" name="projectid" value="[% project.id %]" />
		<input type="text" name="projectname" value="[% project.name | html_entity %]" readonly />
	    [% END %]
	[% END %]
    [% END %]
 </td>
</tr>
[% ELSE %]
  <input type="hidden" name="projectid" value="[% topic_projectid %]" />
[% END %]

<tr class="tt1">
  <td valign="top">Description:</td>
  <td>
    <textarea name="topic_description" rows="12" cols="70" 
		[%# Check to see if the topic is open or not #%]
		[% IF topic_readonly != 0 %] readonly [% END %]
              wrap="hard">[% description | html_entity %]</textarea>
  </td>
</tr>

<tr class="tt1">
 <td>State:
   <FONT SIZE="-2"><A HREF="javascript:alert('
When a topic is created, it is initialised in state \'open\'.\n
Once a topic has been reviewed, and the code has been committed,\n
the state should be updated to \'committed\'.  If the code\n
in this review is not to be committed, perhaps because a\n
new review will superceed this one, or because it was rejected,\n
the state should be changed to \'closed\'.\n
\n
If a topic is linked to Bugzilla bugs, each time the topic\n
state is changed, an appropriate comment will be appended to\n
all associated bugs, as a form of tracking.\n
\n
The topic states are also useful as a form of filtering, when\n
retrieving lists of topics from the search page.\n
\n
This topic can be superceeded by a new topic, by selecting the\n
state \'obsoleted\'.
')">(What's this?)</A></FONT>
  </td>
  <td>
    [%# Now display the option button for changing the topic state #%]
    <select name="topic_state">
    [% FOREACH state = states %]
       [% IF state == default_state %]
           <option selected value="[% state %]">[% state %]</option>
       [% ELSIF state == 'Deleted' %]
   	   <option value="Deleted">Delete Topic ... </option>
       [% ELSE %]           
           <option value="[% state %]">[% state %]</option>
       [% END %]
    [% END %]
    </select>
 </td>
</tr>

<tr class="tt1"><td colspan="2">&nbsp;</td></tr>


[%# Render the submit button #%]
<tr>
  <td colspan="2">
    <input type="submit" name="button" value="Update Topic" 
           onClick="return DeleteTopicConfirm();" />
  </td>
</tr>

</table>   
</form>

[% PROCESS trailer.html.tmpl %]

</body>
</html>
