</head>
<body onload="view_topic_on_load_handler();">

[% PROCESS viewtopicheader.html.tmpl version = version 
   help = "x516.html#VIEW-TOPIC" topicview = 1 topicproperties = 0
   topiccomments = 0 topicinfo = 0 closehead = 0 %]

<p>

[%# Display the "Download topic text" link. #%]
<a href="[% download_url %]">Download topic text</a>

[%# Display the different coloured viewing modes #%]
[% IF mode == "coloured" %]
| View in <a href="[% coloured_mono_mode_url %]">monospace font</a>
[% ELSIF mode == "coloured_mono" %]
| View in <a href="[% coloured_mode_url %]">variable-width font</a>
[% END %]

[%# Display the different tab-width options #%]
| Tab width set to [% tabwidth %]
(<a href="[% change_tabwidth_url %]">change to [% newtabwidth %]</a>)

[%# Display the files in a table which are a part of this topic. #%]
[%# Display the view all files link if required. #%]
<p>
<table cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td><a name="contents">Files in topic:</a>
    [% IF fview != -1 %]
            (<a href="[% display_all_files_url %]">view all files</a>)
    [% END %]
	</td><td>&nbsp;</td>
    </tr>

    [%# Now display a row per file which is a part of this review. #%]
    [% FOREACH file = filetable %]
    [% FLUSH IF loop.count() % 10 == 1 %]

    <tr>
        [%# Determine what CSS style to apply to the line. #%]
        [% SET rowstyle = "cf" %]
        [% IF file.revision == "added" %][% SET rowstyle = "af" %]
        [% ELSIF file.revision == "removed" %][% SET rowstyle = "rf" %]
        [% ELSIF file.revision == "patch" %][% SET rowstyle = "pf" %]
        [% END %]

	[% IF rowstyle != "cf" %]
            <td colspan="2" class="[% rowstyle %]">
        [% ELSE %]
	    <td class="[% rowstyle %]">
	[% END %]

        [%# Display the jump to link in the case when all files are displayed. #%]
	[% IF fview == -1 %]
	    [<a href="#[% file.filename %]" class="toc">Jump to</a>]
        [% END %]

        [%# Display the filename with an internal link if its not binary. #%]
	[% IF file.binary %]
	    [% file.filename | html_entity %]
        [% ELSE %]
	    <a href="[% file.href_filename_url %]" class="toc">[% file.filename | html_entity %]</a>
        [% END %]
	    </td>

	[%# Display the revision information for modified files. #%]
	[% IF rowstyle == "cf" %]
	    <td class="[% rowstyle %]">&nbsp;[% file.revision | html_entity %]</td>
        [% END %]

        [%# Display the numchange information for the file. #%]
	    <td class="[% rowstyle %]">
            &nbsp;
        [% IF file.numchanges != "" %]
	    <font size="-1">{[% file.numchanges %]}</font>
	[% END %]
	    </td>
    </tr>
    [% END %]
    </table>

</table>

[% USE CommentLine query = query comment_hash = comment_hash
                   comment_location_map = comment_location_map
                   mode = mode %]

<p>
<span class="general_comment">[[% add_general_comment_element %]] to topic.</span>
<p>

[%# Render the delta header in the footer if only one file is being viewed. #%]
[% PROCESS viewdeltas.html.tmpl deltas = deltas render_header_in_footer = fview != -1 %]

[%# Output the legend at the bottom. #%]

<table cellspacing="0" cellpadding="0" border="0">
    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr><td colspan="2">Legend:</td></tr>
    <tr><td class="rf">Removed</td><td class="rb">&nbsp;</td></tr>
    <tr><td colspan="2" align="center" class="cf">Changed</td></tr>
    <tr><td class="ab">&nbsp;</td><td class="af">Added</td></tr>
</table>

<p>
<span class="general_comment">[[% add_general_comment_element %]] to topic.</span>

[% PROCESS trailer.html.tmpl %]

</body>
</html>




