
[%# Screen for displaying the heading information of a topic.  The
    actual view topic data is still generated directly from the perl
    script, as it is complex HTML that doesn't need to be
    customised. #%]

[% PROCESS header.html.tmpl displaymenu = 1 version = version %]

[%# Display any "feedback" to the user if necessary. #%]
[% IF feedback != '' %]
    <font color="red">[% feedback %]</font>
    <p>
[% END %]

<table cellpadding="5" cellspacing="0" border="0" width="100%">
<tr class="tab">
   <td width="1%" nowrap class=[% IF topicview == 0 %]"notselected"[% ELSE %]"selected"[% END %]>
	<a class="tab" href="[% view_topic_url %]">Topic Text</a></td>
   <td width="1" class="space">&nbsp;</td>
   <td width="1%" nowrap class=[% IF topicproperties == 0 %]"notselected"[% ELSE %]"selected"[% END %]>
	<a class="tab" href="[% view_topic_properties_url %]">Topic Properties</a></td>
   <td width="1" class="space">&nbsp;</td>
   <td width="1%" nowrap class=[% IF topiccomments == 0 %]"notselected"[% ELSE %]"selected"[% END %]>
	<a class="tab" href="[% view_comments_url %]">Topic Comments ([% number_comments %])</a></td>
   <td width="1" class="space">&nbsp;</td>
   <td width="1%" nowrap class=[% IF topicinfo == 0 %]"notselected"[% ELSE %]"selected"[% END %]>
	<a class="tab" href="[% view_topicinfo_url %]">Topic Information</a> </td>
   <td colspan=2 bgcolor="#eeeeee" align=right><b>[% author %]</b></td>
</tr>
</table>

<table cellpadding="5" cellspacing="0" border="0" width="100%">
<tr class="tab">
    <td>Topic title: <b>[% title %]</b></td>
    <td align=right>[% document_creation_time %]</td>
</tr>
</table>

