[%# Screen for displaying the heading information of a topic.  The
    actual view topic data is still generated directly from the perl
    script, as it is complex HTML that doesn't need to be
    customised. #%]

[% PROCESS viewtopicheader.html.tmpl version = version 
   help = "x484.html#VIEW-TOPIC" topicview = 1 topicproperties = 0
   topiccomments = 0 topicinfo = 0 %]

<p>

[%# Display the "Download topic text" link #%]
<a href="[% download_url %]">Download topic text</a> |

[%# The perl script takes control from here, rendering the topic data #%]



