
[%# Screen for displaying the heading information of a topic.  The
    actual view topic data is still generated directly from the perl
    script, as it is complex HTML that doesn't need to be
    customised. #%]

[% PROCESS header.html.tmpl displaymenu = 1 version = version 
                            closehead = closehead %]

[%# Display any "feedback" to the user if necessary. #%]
[% IF feedback != '' %]
    <font color="red">[% feedback %]</font>
    <p>
[% END %]

<table cellpadding="5" cellspacing="0" border="0" width="100%">
<tr class="tab">
   <td width="1%" nowrap class=[% IF topicview == 0 %]"notselected"[% ELSE %]"selected"[% END %]>
	<a class="tab" href="[% view_topic_url %]">Topic Text</a></td>
   <td width="1" class="space">&nbsp;</td>
   <td width="1%" nowrap class=[% IF topiccomments == 0 %]"notselected"[% ELSE %]"selected"[% END %]>
	<a class="tab" href="[% view_comments_url %]">Topic Comments ([% number_comments %])</a></td>
   <td width="1" class="space">&nbsp;</td>
   <td width="1%" nowrap class=[% IF topicproperties == 0 %]"notselected"[% ELSE %]"selected"[% END %]>
	<a class="tab" href="[% view_topic_properties_url %]">Topic Properties</a></td>
   <td width="1" class="space">&nbsp;</td>
   <td width="1%" nowrap class=[% IF topicinfo == 0 %]"notselected"[% ELSE %]"selected"[% END %]>
	<a class="tab" href="[% view_topicinfo_url %]">Topic Information</a> </td>
   <td colspan=2 bgcolor="#eeeeee" align=right><b>[% author | html_entity %]</b></td>
</tr>
</table>

<table cellpadding="5" cellspacing="0" border="0" width="100%">
<tr class="tab">
    <td>Topic title: <b>[% title | html_entity %]</b></td>
    <td align=right>[% document_creation_time | html_entity %]</td>
</tr>
</table>

[%# If this topic obsoletes any other topics, show them now #%]
[% IF obsoleted_topics.size > 0 %]
<font color="red"><strong>Topic obsoletes:</strong></font>
  [% FOREACH entry = obsoleted_topics %]
    <a href="[% entry.view_url %]">[% entry.title | html_entity %]</a>[% IF ! loop.last() %],[% END %]
  [% END %]
  <br>
[% END %]

[%# If this topic is obsoleted by other topics, show them now #%]
[% IF obsoleted_by.size > 0 %]
<font color="red"><strong>Obsoleted by:</strong></font>
  [% FOREACH entry = obsoleted_by %]
    <a href="[% entry.view_url %]">[% entry.title | html_entity %]</a>[% IF ! loop.last() %],[% END %]
  [% END %]
  <br>
[% END %]
