[%# Screen for displaying a complete file from a topic. #%]

[% PROCESS header.html.tmpl version = version displaymenu = 1
                            closehead = 1 subtitle = "View Topic File" %]

[% PROCESS viewdeltas.html.tmpl deltas = deltas %]
