[%# Screen for displaying the heading information of a topic.  The
    actual view topic data is still generated directly from the perl
    script, as it is complex HTML that doesn't need to be
    customised. #]

[%# Show the top-level links for "Create new topic", "List open topics"
    and "search" #%]
<p>
    <a href="[% create_topic_url %]">Create new topic</a> | 
    <a href="[% list_url %]">List open topics</a> | 
    <a href="[% search_url %]">Search</a>

<p>
[%# Display the "updated" text if necessary. #%]
[% IF updated == 1 %]
    <font color="red">Topic state has been updated</font>
    <p>
[% END %]

[%# Display the topic title #%]
<h2>[% escaped_title %]</h2>

[%# Create a table illustrating the author, creation date, bug ids, reviewers,
    number of lines and the current state. #%]

<table>

<tr>
 <td>Author:</td>
 <td>[% document_author %]</td>
</tr>

<tr>
 <td>Created:</td>
 <td>[% document_creation_time %]</td>
</tr>

[% IF bug_string != '' %]
<tr>
 <td>Bug IDs:</td>
 <td>[% bug_string %]</td>
</tr>
[% END %]

<tr>
 <td>Reviewers:</td>
 <td>[% document_reviewers %]</td>
</tr>

<tr>
 <td>Number of lines:</td>
 <td>[% number_of_lines %]</td>
</tr>

[%# Display the form for changing the topic state #%]
<form method="post" enctype="application/x-www-form-urlencoded">
<tr>
 <td>State:</td>
 <td>
   <input type="hidden" name="action" value="change_topic_state">
   <input type="hidden" name="topic" value="[% topicid %]">
   <input type="hidden" name="mode" value="[% mode %]">
   <input type="hidden" name="version" value="[% version %]">

   [%# Now display the option button for changing the topic state #%]
   <select name="topic_state">
   [% FOREACH state = states %]
       [% IF state == default_state %]
           <option selected value="[% state %]">[% state %]
       [% ELSE %]           
           <option value="[% state %]">[% state %]
       [% END %]
   [% END %]
   </select>

   [%# Render the submit button #%]
   <input type="submit" name="biutton" value="Update">
 </td>
</tr>

[%# Render a "delete" button, for deleting topics #%]
<tr>
 <td>
  <input type="submit" name="button" value="Delete"
     onclick="return confirm('Are you sure you want to delete this topic?')">
 </td>
</tr>
</form>
</table>   

[%# Now display the description #%]
<pre>
[% description %]
</pre>

[%# Now display the number of comments made, with a link to the
    comment section. #%]
[% IF number_comments == 1 %]
    Only one <a href="[% comment_url %]">comment</a> submitted.
[% ELSIF number_comments > 1 %]
    [% number_comments %] <a href="[% comment_url %]">comments</a> submitted.
[% END %]

<p>

[%# Display the "Download topic text" link #%]
<a href="[% download_url %]">Download</a> topic text.

<p>
<hr>
<p>

[%# The perl script takes control from here, rendering the topic data #%]



