/* CSS for codestriker */

BODY {background-color: #eeeeee;}

/* Links */
A:link    {color: blue;}
A:visited {color: purple;}

/* File heading */
TD.file {background-color: #cccccc; font-family: Helvetica, Arial; font-size: medium}

/* Line heading */
TD.line {background-color: #99cccc; font-family: Helvetica, Arial; font-size: medium}

/* Normal text */
TD.n {font-family: Helvetica, Arial; font-size: smaller}

/* Normal text monospaced */
TD.msn {font-family: monospace; font-size: smaller}

/* Added text */
TD.a {background-color: #aaffaa; font-family: Helvetica, Arial; font-size: smaller}

/* Added text monospaced */
TD.msa {background-color: #aaffaa; font-family: monospace; font-size: smaller}

/* Added file */
TD.af {background-color: #aaffaa}

/* Added blank text */
TD.ab {background-color: #cccccc; font-family: Helvetica, Arial; font-size: smaller}

/* Added blank text monospaced */
TD.msab {background-color: #cccccc; font-family: monospace; font-size: smaller}

/* Removed text */
TD.r {background-color: #ff9999; font-family: Helvetica, Arial; font-size: smaller}

/* Removed text monospaced */
TD.msr {background-color: #ff9999; font-family: monospace; font-size: smaller}

/* Removed file */
TD.rf {background-color: #ff9999}

/* Removed blank text */
TD.rb {background-color: #cccccc; font-family: Helvetica, Arial; font-size: smaller}

/* Changed text */
TD.c {background-color: #ffff77; font-family: Helvetica, Arial; font-size: smaller}

/* Changed text monospaced */
TD.msc {background-color: #ffff77; font-family: monospace; font-size: smaller}

/* Changed file */
TD.cf {background-color: #ffff77}

/* Patch file */
TD.pf {background-color: #ffff77}

/* Changed blank text */
TD.cb {background-color: #eeee77; font-family: Helvetica, Arial; font-size: smaller}

/* Changed blank text monospaced */
TD.mscb {background-color: #eeee77; font-family: monospace; font-size: smaller}

/* Line number with comment */
SPAN.comment {color: #ff0000; font-family: Helvetica, Arial; font-size: smaller}

/* Line number with no comment */
SPAN.nocom {font-family: Helvetica, Arial; font-size: smaller}

/* Monospaced line with added text */
SPAN.msa {background-color: #aaffaa; font-family: monospace; font-size: medium}

/* Monospaced line with removed text */
SPAN.msr {background-color: #ff9999; font-family: monospace; font-size: medium}

/* Monospaced line with changed text */
SPAN.msc {background-color: #ffff77; font-family: monospace; font-size: medium}

/* Monospaced line with normal text */
SPAN.ms {font-family: monospace; font-size: medium}

/* Monospaced line number with comment */
SPAN.mscom {color: #ff0000; font-family: monospace; font-size: medium}
/* Monospaced line number with no comment */
SPAN.msnocom {font-family: monospace; font-size: medium}

/* Smaller monospaced line number with comment */
SPAN.smscom {color: #ff0000; font-family: monospace; font-size: smaller}

/* Smaller monospaced line number with no comment */
SPAN.smsnocom {font-family: monospace; font-size: smaller}

/* File heading */
SPAN.file_comment {background-color: #cccccc; font-family: Helvetica, Arial; font-size: medium; color: #ff0000}

/* General heading */
SPAN.general_comment {color: #000000; font-family: Helvetica, Arial}

/* Style used for rendering data within popup window */
PRE.ms {font-family: monospace; font-size: medium}

/* Styles to use for topic list display */

/* Topic list heading */
TR.tlh {background-color: #aaffaa; font-family: Helvetica, Arial}

/* Topic list row type 1 */
TR.tl1 {background-color: #cccccc; font-family: Helvetica, Arial}

/* Topic list row type 1 */
TR.tl2 {background-color: #eeeeee; font-family: Helvetica, Arial}

/* Colour to use for matching identifier */
A.fid:link { color: inherit; text-decoration: none }
A.fid:visited { color: inherit; text-decoration: none }
A.fid:visited:hover { text-decoration: underline; }
A.fid:link:hover { text-decoration: underline; }

/* Style comment listings. */
TR.comments {background-color: #aaffaa; font-family: Helvetica, Arial} /* space */
TR.commenth {background-color: #cccccc; font-family: Helvetica, Arial} /* header */
TR.commentb {background-color: #eeeeee; font-family: monospace} /* comment body */
TD.commentb {background-color: #eeeeee; font-family: monospace} /* comment body */
TR.commentc {background-color: #eeeeee; font-family: monospace} /* context */

/* Style for topic title headings. */

/* Topic title heading */
TR.tth {background-color: #aaffaa; font-family: Helvetica, Arial}
TD.tth {background-color: #aaffaa; font-family: Helvetica, Arial}

/* Topic title row type 0 */
TR.tt0 {background-color: #cccccc; font-family: Helvetica, Arial}
TD.tt0 {background-color: #cccccc; font-family: Helvetica, Arial}

/* Topic title row type 1 */
TR.tt1 {background-color: #eeeeee; font-family: Helvetica, Arial}
TD.tt1 {background-color: #eeeeee; font-family: Helvetica, Arial}

/* Codestriker heading */
TD.heading {text-align: center; background-color: #000000; font-family: Helvetica, Arial; font-size: x-large}
A.heading {text-decoration: none; color: #ffffff}

/* Codestriker top-level menu */
DIV.menu {font-family: Helvetica, Arial}

/* Tabbing styles */
TR.tab {background-color: #aaffaa; font-family: Helvetica, Arial}
TD.selected {background-color: #aaffaa}
TD.notselected {background-color: #cccccc}
TD.space {background-color: #eeeeee}
A.tab {text-decoration: none}

/* Styles for error field in comment posting tooltip. */
span.hidden {display: none}
span.error {display: inline; color: red}

span.feedback {color: red;}
span.obsolete-header {color: red; font-weight: bold;}

/* Styles for highlight program. */
SPAN.num { color:#0000ff; }
SPAN.esc { color:#000080; font-weight:bold; }
SPAN.str { color:#008000; font-weight:bold; }
SPAN.dstr { color:#008000; font-weight:bold; }
SPAN.slc { color:#008080; }
SPAN.com { color:#008080; }
SPAN.dir { color:#008200; }
SPAN.sym { color:#000000; }
SPAN.line { color:#555555; }
SPAN.mark	{ background-color:#ffffbb;}
SPAN.kwa { color:#000080; font-weight:bold; }
SPAN.kwb { color:#000080; font-weight:bold; }
SPAN.kwc { color:#000000; }
SPAN.kwd { color:#000000; }