/* CSS for codestriker */

BODY {background-color: #fff;}

H1 {font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif;}

/* Links */
A:link    {color: #081020;}
A:visited {color: #101828;}

/* File heading */
TD.file {background-color: #cccccc; font-family: Georgia, serif; font-size: medium}

/* Line heading */
TD.line {background-color: #99cccc; font-family: Georgia, serif; font-size: medium}

/* Normal text */
TD.n {white-space: pre; font-family: Georgia, serif; font-size: smaller}

/* Normal text monospaced */
TD.msn {white-space: pre; font-family: Consolas, "Nimbus Mono L", LucidaConsole, "Bitstream Vera Sans Mono", monospace; font-size: smaller}

/* Added text */
TD.a {white-space: pre; background-color: #abd; font-family: Georgia, serif; font-size: smaller}

/* Added text monospaced */
TD.msa {white-space: pre; background-color: #abd; font-family: Consolas, "Nimbus Mono L", LucidaConsole, "Bitstream Vera Sans Mono", monospace; font-size: smaller}

/* Added file */
TD.af {background-color: #abd}

/* Added blank text */
TD.ab {white-space: pre; background-color: #cccccc; font-family: Georgia, serif; font-size: smaller}

/* Added blank text monospaced */
TD.msab {white-space: pre; background-color: #cccccc; font-family: Consolas, "Nimbus Mono L", LucidaConsole, "Bitstream Vera Sans Mono", monospace; font-size: smaller}

/* Removed text */
TD.r {white-space: pre; background-color: #ff9999; font-family: Georgia, serif; font-size: smaller}

/* Removed text monospaced */
TD.msr {white-space: pre; background-color: #ff9999; font-family: Consolas, "Nimbus Mono L", LucidaConsole, "Bitstream Vera Sans Mono", monospace; font-size: smaller}

/* Removed file */
TD.rf {background-color: #ff9999}

/* Removed blank text */
TD.rb {white-space: pre; background-color: #cccccc; font-family: Georgia, serif; font-size: smaller}

/* Removed blank text monospaced */
TD.msrb {white-space: pre; background-color: #cccccc; font-family: Consolas, "Nimbus Mono L", LucidaConsole, "Bitstream Vera Sans Mono", monospace; font-size: smaller}

/* Changed text */
TD.c {white-space: pre; background-color: #ffff77; font-family: Georgia, serif; font-size: smaller}

/* Changed text monospaced */
TD.msc {white-space: pre; background-color: #ffff77; font-family: Consolas, "Nimbus Mono L", LucidaConsole, "Bitstream Vera Sans Mono", monospace; font-size: smaller}

/* Changed file */
TD.cf {background-color: #ffff77}

/* Changed blank text */
TD.cb {white-space: pre; background-color: #eeee77; font-family: Georgia, serif; font-size: smaller}

/* Changed blank text monospaced */
TD.mscb {white-space: pre; background-color: #eeee77; font-family: Consolas, "Nimbus Mono L", LucidaConsole, "Bitstream Vera Sans Mono", monospace; font-size: smaller}

/* Table of contents links */
A.toc { font-family: Georgia, serif; font-size: smaller}
A.toc:link { color: inherit; text-decoration: none }
A.toc:visited { color: #ff0000; text-decoration: none }
A.toc:visited:hover { text-decoration: underline; }
A.toc:link:hover { text-decoration: underline; }

/* Line number with comment */
A.comment { color: #ff0000; font-family: Consolas, "Nimbus Mono L", LucidaConsole, "Bitstream Vera Sans Mono", monospace; font-size: smaller}
A.comment:link { color: ff0000; text-decoration: none }
A.comment:visited { color: inherit; text-decoration: none }
A.comment:visited:hover { text-decoration: underline; }
A.comment:link:hover { text-decoration: underline; }

/* Line number with no comment */
A.nocom { font-family: Consolas, "Nimbus Mono L", LucidaConsole, "Bitstream Vera Sans Mono", monospace; font-size: smaller}
A.nocom:link { color: inherit; text-decoration: none }
A.nocom:visited { color: inherit; text-decoration: none }
A.nocom:visited:hover { text-decoration: underline; }
A.nocom:link:hover { text-decoration: underline; }

/* Monospaced line with added text */
SPAN.msa {background-color: #abd; font-family: Consolas, "Nimbus Mono L", LucidaConsole, "Bitstream Vera Sans Mono", monospace; font-size: medium}

/* Monospaced line with removed text */
SPAN.msr {background-color: #ff9999; font-family: Consolas, "Nimbus Mono L", LucidaConsole, "Bitstream Vera Sans Mono", monospace; font-size: medium}

/* Monospaced line with changed text */
SPAN.msc {background-color: #ffff77; font-family: Consolas, "Nimbus Mono L", LucidaConsole, "Bitstream Vera Sans Mono", monospace; font-size: medium}

/* Monospaced line with normal text */
SPAN.ms {font-family: Consolas, "Nimbus Mono L", LucidaConsole, "Bitstream Vera Sans Mono", monospace; font-size: medium}

/* Monospaced line number with comment */
SPAN.mscom {color: #ff0000; font-family: monospace; font-size: medium}
SPAN.mscom:link { color: inherit; text-decoration: none }
SPAN.mscom:visited { color: inherit; text-decoration: none }
SPAN.mscom:visited:hover { text-decoration: underline; }
SPAN.mscom:link:hover { text-decoration: underline; }

/* Monospaced line number with no comment */
SPAN.msnocom {font-family: monospace; font-size: medium}
SPAN.msnocom:link { color: inherit; text-decoration: none }
SPAN.msnocom:visited { color: inherit; text-decoration: none }
SPAN.msnocom:visited:hover { text-decoration: underline; }
SPAN.msnocom:link:hover { text-decoration: underline; }

/* File heading */
SPAN.file_comment {background-color: #cccccc; font-family: Georgia, serif; font-size: medium; color: #ff0000}

/* General heading */
/* SPAN.general_comment {color: #ff0000} */

/* Style used for rendering data within popup window */
PRE.ms {font-family: monospace; font-size: medium}

/* Styles to use for topic list display */

/* Topic list heading */
TR.tlh {background-color: #abd; font-family: Georgia, serif}

/* Topic list row type 1 */
TR.tl1 {background-color: #cccccc; font-family: Georgia, serif}

/* Topic list row type 1 */
TR.tl2 {background-color: #eeeeee; font-family: Georgia, serif}

/* Colour to use for matching identifier */
A.fid:link { color: inherit; text-decoration: none }
A.fid:visited { color: inherit; text-decoration: none }
A.fid:visited:hover { text-decoration: underline; }
A.fid:link:hover { text-decoration: underline; }

/* Style comment listings. */
TR.comments {background-color: #abd; font-family: Georgia, serif} /* space */
TR.commenth {background-color: #cccccc; font-family: Georgia, serif} /* header */
TR.commentb {background-color: #eeeeee; font-family: Consolas, "Nimbus Mono L", LucidaConsole, "Bitstream Vera Sans Mono", monospace} /* comment body */
TD.commentb {background-color: #eeeeee; font-family: Consolas, "Nimbus Mono L", LucidaConsole, "Bitstream Vera Sans Mono", monospace} /* comment body */
TR.commentc {background-color: #eeeeee; font-family: Consolas, "Nimbus Mono L", LucidaConsole, "Bitstream Vera Sans Mono", monospace} /* context */

/* Style for topic title headings. */

/* Topic title heading */
TR.tth {background-color: #abd; font-family: Georgia, serif}
TD.tth {background-color: #abd; font-family: Georgia, serif}

/* Topic title row type 0 */
TR.tt0 {background-color: #cccccc; font-family: Georgia, serif}
TD.tt0 {background-color: #cccccc; font-family: Georgia, serif}

/* Topic title row type 1 */
TR.tt1 {background-color: #eeeeee; font-family: Georgia, serif}
TD.tt1 {background-color: #eeeeee; font-family: Georgia, serif}

/* Codestriker heading */
#header {margin-bottom: 1em; font-family: sans-serif;}
#header .heading {background-color: #404D6C; color: white; font-size: 110%; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; margin: 0; padding: 0.5em; vertical-align: bottom; font-weight: bold;}
#header .heading a {text-decoration: none; color: white; background-color: transparent;}

/* Codestriker top-level menu */
#header .menu {font-size: 85%; border-left: 1px solid silver; border-right: 1px solid silver; border-bottom: 1px solid silver; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; padding: 0.5em;}

/* Tabbing styles */
DIV.tabs {width: 100%; font-family: sans-serif;}
DIV.tab {display: block; float: left; padding: 0.3em 0.4em; margin-right: 0.4em; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px;}
DIV.tab.selected {background-color: #abd;}
DIV.tab.selected:hover {background-color: #bce;}
DIV.tab.notselected {background-color: #ccc;}
DIV.tab.notselected:hover {background-color: #ddd;}
DIV.tab A {text-decoration: none;}
DIV.tabfloat {font-weight: bold; float: right;}
DIV.aftertabs {left: 0; right: 0; background-color: #abd; padding: 0.3em 0.4em; font-family: sans-serif; clear: both;}
DIV.aftertabfloat {float: right}

/* Styles for error field in comment posting tooltip. */
span.hidden {display: none}
span.error {display: inline; color: red}

span.feedback {color: red;}
span.obsolete-header {color: red; font-weight: bold;}

/* Styles for highlight program. */
SPAN.num { color:#0000ff; }
SPAN.esc { color:#000080; font-weight:bold; }
SPAN.str { color:#008000; font-weight:bold; }
SPAN.dstr { color:#008000; font-weight:bold; }
SPAN.slc { color:#008080; }
SPAN.com { color:#008080; }
SPAN.dir { color:#008200; }
SPAN.sym { color:#000000; }
SPAN.line { color:#555555; }
SPAN.mark { background-color:#ffffbb;}
SPAN.kwa { color:#000080; font-weight:bold; }
SPAN.kwb { color:#000080; font-weight:bold; }
SPAN.kwc { color:#000000; }
SPAN.kwd { color:#000000; } 	  	 
